<!DOCTYPE html>
<html>
<head>
<link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />

{% block title -%}
{% if title %}
         <title>Сайт с резюме - {{title}}</title>
{% else %}
         <title>Сайт с резюме</title>
{% endif %}
{% endblock %}
</head>
<body>
{% block content -%}
         {%- block mainmenu -%}
<ul class="mainmenu">
<li><a href="{{url_for('add_resume')}}">Create CV</a></li>
<li><a href="{{url_for('view_cv')}}">My CV</a></li>
<li><a href="{{url_for('login')}}">My account</a></li>
<li><a href="{{url_for('logout')}}">Log out</a></li>
</ul>
         {% endblock mainmenu -%}
<div class="clear"></div>
<div class="content">
         {% if title -%}
<h1>{{title}}</h1>
         {% else -%}
<h1>CV generator</h1>
         {% endif -%}
</div>
{% endblock -%}
</body>
</html>