{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %} 
<form action="/login" method="post" class="form-contact">
<p><label>Email: </label> <input type="text" name="email" value="" requied />
<p><label>Password: </label> <input type="password" name="psw" value=""
                                   requied />
<p><input type="checkbox" name="remainme" /> Remember me
<p><input type="submit" value="Log in" />
<p><a href="{{url_for('register')}}">New account</a>
</form>
{% endblock %}